   section {
    padding: 20px;
    text-align: center;
    background-color: #f2f2f2;
  }
  
  header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
  }
  
  /* Responsive layout - makes the menu and the right section stack on top of each other */
  @media (max-width: 600px) {
    section, header {
      width: 100%;
      padding: 0;
    }
  }